parameters:
	ignoreErrors:
		-
			message: '#@return with type mixed#'
			path: %currentWorkingDirectory%/src/functions.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false